# DW - this seemed to drop virtual memory, didn't seem to help with res memory...
# https://stackoverflow.com/questions/686397/how-can-a-java-process-with-xmx1024m-occupy-3gb-resident-memory
# tune glibc memory allocation, optimize for low fragmentation
# limit the number of arenas
# requires glibc >= 2.16 since there was a bug in 
# MALLOC_ARENA_TEST parameter handling that cause MALLOC_ARENA_MAX not to work
export MALLOC_ARENA_MAX=1
# disable dynamic mmap threshold, see M_MMAP_THRESHOLD in "man mallopt"
export MALLOC_MMAP_THRESHOLD_=16384
export MALLOC_TRIM_THRESHOLD_=16384
export MALLOC_TOP_PAD_=0
export MALLOC_MMAP_MAX_=65536

JETTY_PID={{ jetty_pid }}
JETTY_HOME={{ jetty_dst_dir }}/current
JETTY_USER={{ jetty_user_login }}
{% if jetty_host is defined and jetty_port is defined %}
JETTY_ARGS="-Djetty.host={{ jetty_host }} -Djetty.port={{ jetty_port }}"
{% elif jetty_host is defined %}
JETTY_ARGS="-Djetty.host={{ jetty_host }}"
{% elif jetty_port is defined %}
JETTY_ARGS="-Djetty.port={{ jetty_port }}"
{% endif %}
{% if jetty_java_options is defined %}
JAVA_OPTIONS="{{ jetty_java_options }}"
{% endif %}
{% if jetty_tmpdir is defined %}
TMPDIR="{{ jetty_tmpdir }}"
{% endif %}

