[Unit]
Description=Jetty Web Application Server
After=syslog.target network.target nss-lookup.target

[Service]
Type=forking
PIDFile={{ jetty_pid }}

ExecStart={{ jetty_dst_dir }}/current/bin/jetty.sh start
ExecStop={{ jetty_dst_dir }}/current/bin/jetty.sh stop
SuccessExitStatus=143

User={{ jetty_user_login }}
Group={{ jetty_group_name }}

[Install]
WantedBy=multi-user.target